@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020721;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --rubik: "Rubik", sans-serif;
  --roboto: "Roboto", sans-serif;
}


.header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    height: 75px;
    background: #1F2035;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 80px;
    
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px; 
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  /* color: white; */
}

.nav-links a{
    font-variant: var(--roboto);
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: 900;
}

.nav-btn{
    padding: 12px 24px;
    box-shadow: #6337AE40;
    border-radius: 10px;
    border: 1px solid  #121212;
    background: linear-gradient(2.45deg, #21223C 7.4%, #0B0B26 98.31%);
    font-variant: var(--rubik);
    color: white;
    text-align: center;
    cursor: pointer;
    height: 40px;
}

.nav-btn:hover{
    background-color: #B69EE0;
}

/* ===============================
   HERO SECTION
================================= */

.hero {
  background: #050b2d;
  min-height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 50px 2%;
}

.hero-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}


.hero-content {
  flex: 1;
  z-index: 2;
}

.hero-content h1 {
  font-size: 90px;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 82px;
  font-style: bold;
  font-family: "Roboto", sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #3aa0ff, #ff7ecb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant: var(--rubik);
}

.light-text {
  color: #cfd3ff;
  
}

.hero-content p {
  color: #AFB3CA;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 520px;
  margin-bottom: 32px;
  margin-top: 28px;
}


.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-primary {
  padding: 13px 24px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
 background: linear-gradient(90deg, #3aa0ff, #ff7ecb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #ff7ecb;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.5;
}

.btn-secondary {
  padding: 14px 28px;
  border-radius: 16px;
  border: 1px solid #70717A;
  text-decoration: none;
  font-weight: 500;
  color: #cfd3ff;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ===============================
   RIGHT VISUAL SECTION
================================= */

.hero-visual {
  flex: 1;
  position: relative;
  height: 600px;
}

/* ARC BACKGROUND (Linear Gradient) */
.arc-bg {
  position: absolute;
  top: -100px;
  right: -50px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 126, 203, 0.4),
    rgba(58, 160, 255, 0.2),
    transparent
  );
  filter: blur(60px);
}

/* Lock Image */
.lock-img {
  position: absolute;
  right: 0;
  top: 80px;
  width: 350px;
  z-index: 2;
}

/* Email Card Image */
.email-img {
  position: absolute;
  right: 260px;
  top: 200px;
  width: 260px;
  z-index: 3;
}

/* User Card Image */
.user-img {
  position: absolute;
  right: 150px;
  top: 380px;
  width: 280px;
  z-index: 3;
}

/* ==============================
   WE REMOVE SECTION
============================== */

.wr {
  background: #020721;
  padding: 120px 6%;
  overflow: hidden;
}

.wr-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}


.wr-content {
  flex: 1;
  max-width: 650px;
}

.wr-content h1 {
  font-size: 64px;
  font-variant: var(--rubik);
  line-height: 62px;
  letter-spacing: -1.5px;
  font-weight: 700;
  color: #CAD1E9;
  margin-bottom: 16px;
}

.wr-text p {
  color: #AFB3CA;
  font-family: "Roboto", sans-serif;
 font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 520px;
}


.wr-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wr-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* why choose us  */

.why{
    height: auto;
    padding-top: 50px;
}
.why-head h1{
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 62px;
    letter-spacing: -1px;
}

.why-head p{
    color: #AFB3CA;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    padding-top: 20px;
}

.features {
  padding: 120px 6%;
}

.features-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}



.feature-card {
  background: linear-gradient(
    135deg,
    rgba(60, 80, 255, 0.08),
    rgba(255, 255, 255, 0.03)
  );
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 28px;
  padding: 50px;
  backdrop-filter: blur(20px);
  position: relative;
  overflow: hidden;
}

/* Headings */

.feature-card h2 {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 500;
  line-height: 100%;
  color: #CAD1E9;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}

/* Paragraph */

.feature-card p {
  font-size: 16px;
  color: #AFB3CA;
  line-height: 1.7;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  max-width: 480px;
}

/* Image */

.feature-img img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}


.card-2 .feature-img {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}


.card-2 .img-top {
  max-width: 120px;
  width: 100%;
  align-self: flex-start; 
}


.card-2 .img-bottom {
  max-width: 484px;
  width: 100%;
  align-self: flex-start; 
}




.full-width {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.full-width .feature-left {
  flex: 1;
}

.full-width .feature-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* Testimonials Section  */
.testimonials {
  background: #050b2d;
  padding: 120px 6%;
}

.testimonials-container {
  max-width: 1300px;
  margin: auto;
}

/* Header */

.testimonial-header {
  text-align: center;
  margin-bottom: 80px;
}

.testimonial-header h2 {
  font-size: 56px;
  line-height: 76px;
  letter-spacing: -1px;
  font-weight: 500;
  font-family: 'Rubik' , sans-serif;
  color: #cfd3ff;
  margin-bottom: 20px;
}

.testimonial-header p {
  color: #9aa4d6;
  max-width: 650px;
  font-weight: 400;
  margin: auto;
  line-height: 24px;
  font-family: 'Roboto' , sans-serif;
  font-size: 16px;
}

/* Grid */

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Card */

.testimonial-card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(80, 100, 255, 0.05)
  );
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(20px);
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  border-color: rgba(120, 140, 255, 0.4);
}

/* Avatar + Name */

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.testimonial-top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-top h4 {
  color: #cfd3ff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Text */

.testimonial-card p {
  color: #9aa4d6;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

/* Pricing Section  */

.pricing-header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.pricing-header h2 {
  font-size: 56px;
  line-height: 76px;
  letter-spacing: -1px;
  color: #CAD1E9;
  margin-bottom: 20px;
  font-family: 'Rubik' sans-serif;
}

.pricing-header p {
  color: #AFB3CA;
  max-width: 600px;
  font-size: 16px;
  letter-spacing: 0px;
  margin: auto;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

/* Toggle */

.billing-toggle {
  margin-top: 30px;
  display: inline-flex;
  background: linear-gradient(137.34deg, rgba(27, 28, 54, 0.16) 23.98%, rgba(112, 113, 122, 0.16) 65.73%);
  border-radius: 16px;
  border: 1px solid;
  padding: 6px;
}

.billing-toggle button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  color: #AFB3CA;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.billing-toggle .active {
  background: rgba(255,255,255,0.1);
  color: #CAD1E9;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.pricing-container {
  max-width: 1200px; /* controls width */
  margin: 0 auto;    /* centers it */
  padding: 0 100px;  /* left & right spacing like your design */
}

/* ===============================
   CARD BASE
================================= */

.price-card {
  background: linear-gradient(137.34deg, rgba(27, 28, 54, 0.16) 23.98%, rgba(112, 113, 122, 0.16) 65.73%);

  border-radius: 28px;
  padding: 50px 40px;
  border: 2px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  text-align: center;
  margin-bottom: 50px;
}

/* Headings */

.price-card h4 {
  color: #9aa4d6;
  margin-bottom: 20px;
  font-weight: 500;
}

.price-card h1 {
  font-size: 56px;
  color: #cfd3ff;
  margin-bottom: 10px;
}

.gradient-price {
    background: linear-gradient(90.63deg, #B67EFD 0.9%, #F088D2 55.08%, #FFAD8B 109.04%);
color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.per {
  color: #9aa4d6;
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}

/* ===============================
   FEATURE LIST (IMAGE ICONS)
================================= */

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  color: #cfd3ff;
  font-size: 14px;
}

.features-list li img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

/* ===============================
   BUTTONS
================================= */

.btn,
.btn-outline {
    font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  background: linear-gradient(90.63deg, #B67EFD 0.9%, #F088D2 55.08%, #FFAD8B 109.04%);

}

.btn {
  background: rgba(255,255,255,0.08);
  color: #cfd3ff;
  border: 2px solid rgba(255,255,255,0.08);

}

.btn-outline {
  background: transparent;
  border: 1px solid #ec4899;
  color: #ec4899;
}

.note {
  font-size: 13px;
  color: #AFB3CA;
}

/* ===============================
   FEATURED CARD (GRADIENT BORDER)
================================= */

.featured {
  border: 1px solid transparent;
  background:
    linear-gradient(#050b2d, #050b2d) padding-box,
    linear-gradient(135deg, #a855f7, #ec4899) border-box;
}







/* =========== RESPONSIVE. =========== */


@media (max-width: 1200px) {
  .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-header h2 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
}

